body {
  font-family: 'montserrat';
}

.container {
  max-width: 600px;
}

.todos-title {
  font-size: 5.5em;
  font-weight: 100;
}

.form-control::placeholder {
  color: rgba(192, 192, 192, 0.5);
}

.list-group {
  box-shadow: 10px 10px 5px rgba(0,0,0,0.2);
}

.list-group-item:hover .delete-button {
  display: inline-block;
}

.delete-button {
  display: none;
  font-size: 0.8rem;
}
